@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .underline-animation{
  @apply relative;
  }

  .underline-animation ::after{
    @apply absolute content-[""] w-full h-0.5 left-0 bottom-[-4] bg-cyan-600 scale-x-0 hover:scale-x-100 transition-transform duration-300
  }
}


